/* =====================================================
   styles.css — TAWENO SUSHI
   Completa los estilos según el mockup adjunto
   ===================================================== */

/* Reset base */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

/* Tu código va aquí */
body {
  font-size: 1.6rem;
}
.bg-black{
  background-color: #1a1a1a;
  height: 35rem;
}


.contenedor{
  width: 140rem;
  margin: 0 auto;
}

.navbar{
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  height: 5.2rem;
  border-bottom: 0.1rem solid #e0ddd5 ;
  padding: 0 3.2rem;
  align-items: center;
}
.navbar-items ul{
  display: flex;
  
}

.navbar-items ul li {
  list-style: none;
  padding-left: 4rem;
}

.navbar-items ul li a{
  text-decoration: none;
  color: #555555  ;
  font-size: 1.2rem;
  font-weight: bold;
}

.navbar-logo a{ 
  text-decoration: none;
  font-size: 1.3rem;
  color: #1a1a1a;
  font-weight: bold;
  letter-spacing: .15rem;
  
}
.navbar-btn{
  background-color: ;
}
.navbar-btn a{
  text-decoration: none;
  background-color: #c0392b ; 
  font-size: 1.1rem;
  font-weight: bold;
  color: #ffffff;
  padding: 0.6rem 1.6rem;
  border-radius: 0.6rem;

}

.hd-contenido{
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
  

}

.texto-blanco{
  color: #ffffff;
}
.texto-rojo{
  color: #c0392b;
}

.sabor-japones h1{
  font-size: 3.6rem;
  font-weight: bold;
  margin-bottom: 1.4rem;
}


.btn-sin{
  color: #c0392b;
  border: 0.1rem solid rgba(192, 57, 43, 0.5);
  font-size: 1rem;
  padding: 0.4rem 1.2rem;
  border-radius: 2rem;
  margin-bottom: 2rem;

}
.btn-rojo{
  text-decoration: none;
  background-color: #c0392b ; 
  border: 0.1rem solid rgba(192, 57, 43, 0.5) ;
  font-size: 1.1rem;
  font-weight: bold;
  color: #ffffff;
  padding: 0.6rem 1.6rem;
  border-radius: 0.6rem;
}
.hd-contenido p{
  color: #888888 ;
  font-size: 1.3rem;
  line-height: 1.8;
  max-width: 34rem;
  margin-bottom: 2.8rem;
}

.boton-negro{
  background-color: transparent ;
  border: 0.1rem solid  rgba(255, 255, 255, 0.2) ;
  color:#cccccc ;
  padding: 1rem 1.8rem;
  border-radius: 0.6rem;
}
.hd-botones a{
  text-decoration: none;
}